.credit-card {
  border-radius: 16px;
  height: 12em;
  width: 23em;
  margin: 0 auto;
  background-color: #cdcdcd;
  padding: 1em;
  box-sizing: border-box;
}
.back-card {
  height: 12em;
  width: 23em;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: blue;
  display: flex;
  flex-direction: column;
}
#dispaly-card-name::placeholder {
  color: black;
}
.black-line {
  background-color: black;
  height: 10px;
  padding: 1em;
  margin-top: 7%;
}
.card-header {
  display: flex;
  height: 15%;
  justify-content: space-between;
}
.image-container {
  width: 2em;
  height: 2em;
}
.image {
  width: 100%;
  height: 100%;
}
.card-herader-title {
  width: 4em;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  justify-content: space-between;
  height: 30vh;
  margin-top: 3%;
}
.bg-color {
  background-color: blue;
}

.text-center {
  text-align: center;
}
.input-tags {
  outline: none;
  border: none;
  background: transparent;
  text-align: left;
  width: 100%;
}

.card-content {
  height: 85%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25%;
}
#display-card-number {
  font-size: 25px;
  text-align: center;
}
#display-card-date {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
#dispaly-card-name {
  font-size: 20px;
}
#display-card-number::placeholder {
  font-size: 30px;
}
.visa-image-container {
  width: 5em;
  align-self: end;
  height: 2.5em;
}
.image-holder {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.number-holder {
  display: flex;
  width: 75%;
  background-color: #fff;
  flex-direction: column;
}
#display-cvc-holder {
  position: absolute;
  width: 25%;
  display: flex;
  height: 4%;
  text-align: end;
  align-self: flex-end;
}
.line-container {
  width: 100%;
  height: 2px;
  background-color: yellow;
  margin-bottom: 0.4em;
}
.line-container:first-child {
  margin-top: 0.3em;
}
.span-element {
  font-size: 12px;
  font-weight: bold;
}

.date-picker-container {
  border: 1px solid #000;
  padding: 5px;
  align-items: center;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
}
#dateInput {
  width: 80%;
  outline: none;
  border: none;
  height: 3vh;
}

.back-details {
  height: 60%;
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 1.5em;
}
